[Unit]
Description=Restart Traefik on signal from Traefik Manager

[Service]
Type=oneshot
ExecStart=-/bin/rm -f "/var/lib/traefik-manager/signals/restart.sig"
ExecStart=/bin/systemctl restart "traefik"
