# Traefik dynamic configuration
# Traefik Manager writes routers, services and middlewares here.
{{- if or .Host .Bouncer }}
http:
{{- end }}
{{- if .Host }}
  routers:
    dashboard:
      rule: "Host(`{{ .Host }}`)"
      entryPoints:
        - {{ .EntryPoint }}
      service: api@internal
{{- if .TLS }}
      tls:
        certResolver: {{ .Resolver }}
{{- end }}
{{- end }}
{{- if .Bouncer }}
  middlewares:
{{- template "bouncer-middleware" .Bouncer }}
{{- end }}
