[Unit]
Description=Traefik Manager
After=network.target

[Service]
Type=simple
User={{ .User }}
WorkingDirectory={{ .InstallDir }}
{{- if .EnvFile }}
EnvironmentFile={{ .EnvFile }}
{{- end }}
Environment={{ .HomeEnv }}
ExecStart={{ .ExecStartArg }} \
    --config {{ .ConfigFileArg }} \
    --bind 0.0.0.0:{{ .Port }} \
    app:app
Environment={{ .ConfigEnv }}
Environment={{ .BackupEnv }}
Environment={{ .SettingsEnv }}
Environment="COOKIE_SECURE=false"
{{- range .OptionalEnv }}
Environment={{ . }}
{{- end }}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
