api:
  dashboard: {{ .Dashboard }}
  insecure: true

entryPoints:
  web:
    address: ":80"
{{- if .TLS }}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
{{- end }}
{{- if .APIAddress }}
  traefik:
    address: "{{ .APIAddress }}"
{{- end }}

providers:
{{- if .Network }}
  docker:
    exposedByDefault: false
    network: {{ .Network }}
{{- end }}
  file:
{{- if .SingleFile }}
    filename: {{ .DynamicFile }}
{{- else }}
    directory: {{ .DynamicDir }}
{{- end }}
    watch: true
{{- if .TLS }}

certificatesResolvers:
  {{ .Resolver }}:
    acme:
      email: {{ .Email }}
      storage: {{ .AcmeStorage }}
{{- if .DNS }}
      dnsChallenge:
        provider: {{ .Provider }}
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
{{- else }}
      httpChallenge:
        entryPoint: web
{{- end }}
{{- end }}
{{- if .Ping }}

ping: {}
{{- end }}

log:
  level: INFO

accessLog:
  filePath: {{ .AccessLog }}
  bufferingSize: 100
